*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {
	background: #f3f5e1; /*no*/
}

.menu {
	width: 250px;
	height: 40px;
	margin: 5px auto;
	background: #006699; /* Barra colo */ /*no*/
}

.menu ul{
	list-style: none;

}

.navegacion li{
	position: relative;
	display: inline-block;
}

.menu{
	list-style: none;
	float: left; /*posicion*/
}

.menu ul li{
	list-style: none;
	float: center; /* orden del meniu*/
}

	.menu li > a {
		display: block;
		padding: 15px 2px;
		color: #ffffff; /* Cambiar color de letra*/
		font-family: "open sans";
		text-decoration: none;
	}

	.menu ul li > a:hover {
		background: #fff;
		color: #000000;
		transition: background 1s, color 1s;
	}

.submenu {
	position: absolute;
	background: #006699;
	width: 140%;
	display: none;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #ffd;
	font-family: "open sans";
	text-decoration: none;
}

.menu li:hover .submenu{
	display: block;
}



#principal {
	width: 900px;
	height: auto;
	overflow: hidden;
	border: 10px solid #ff0404;
	margin: auto;
}

#logo {
	width: 260px;
	height: 70px;
	margin: 20px auto;
	color: #ffffff;/*Color de la letra*/
	background: #006699;
}

#Mision
{
	margin: 20px auto;
	color: rgb(0, 0, 0);
	
}

div
{
margin-left: 5%;
margin-right: 25%;

}

